# CODEOWNERS file
# This file specifies who owns what in the repository.

# Give nduquenoy and maledictionvillage full ownership of all files
*       @nduquenoy

# Examples of specific ownership (optional, can keep for reference)

# JS files
# *.js    @js-owner

# Go files
# *.go    docs@example.com

# Text files
# *.txt   @octo-org/octocats

# Logs directories
# **/logs @octocat

# Scripts directory
# /scripts/ @doctocat @octocat

# Docs directories
# /docs/ @doctocat
# docs/* docs@example.com

# Apps directories
# /apps/ @octocat
# /apps/github

# Build logs directory
# /build/logs/ @doctocat
